.m-t-5 {
  margin-top: 5rpx;
}

.m-t-10 {
  margin-top: 10rpx;
}

.m-t-15 {
  margin-top: 15rpx;
}

.m-t-20 {
  margin-top: 20rpx;
}

.m-t-25 {
  margin-top: 25rpx;
}

.m-t-30 {
  margin-top: 30rpx;
}

.m-r-5 {
  margin-right: 5rpx;
}

.m-r-10 {
  margin-right: 10rpx;
}

.m-r-15 {
  margin-right: 15rpx;
}

.m-r-20 {
  margin-right: 20rpx;
}

.m-r-25 {
  margin-right: 25rpx;
}

.m-r-30 {
  margin-right: 30rpx;
}

.m-b-5 {
  margin-bottom: 5rpx;
}

.m-b-10 {
  margin-bottom: 10rpx;
}

.m-b-15 {
  margin-bottom: 15rpx;
}

.m-b-20 {
  margin-bottom: 20rpx;
}

.m-b-25 {
  margin-bottom: 25rpx;
}

.m-b-30 {
  margin-bottom: 30rpx;
}

.m-l-5 {
  margin-left: 5rpx;
}

.m-l-10 {
  margin-left: 10rpx;
}

.m-l-15 {
  margin-left: 15rpx;
}

.m-l-20 {
  margin-left: 20rpx;
}

.m-l-25 {
  margin-left: 25rpx;
}

.m-l-30 {
  margin-left: 30rpx;
}
